/* style.css */
/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set background and font styles */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
}

/* Add some margin and padding */
header, nav, section, footer {
    margin: 1em;
    padding: 1em;
}

/* Style the header and navigation */
header {
    text-align: center;
}

/* Style the profile image */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    justify-content: center; /* Add this line to center align horizontally */
    flex-direction: column; 
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0.5em; /* Add this line to add some spacing between the image and text */
}

/* Style the contact icons */
.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    list-style-type: none;
}

.contact-icons li {
    margin-right: 1em;
}

.contact-icons li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Style the about, portfolio, and contact sections */
section {
    margin-bottom: 2em;
}

h2 {
    margin-bottom: 0.5em;
}

/* Style the footer */
footer {
    text-align: center;
    margin-top: auto;
}

/* Add some terminal-like effects */
#typed::after {
    content: "_";
    animation: cursor 0.7s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* style.css */
/* Style links */
a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.2s ease-in-out;
}

a:hover {
    border-bottom: 1px solid transparent;
}
